body{

background:#05070a;
color:white;
font-family:Arial, sans-serif;
margin:0;

/* background overlay for hero page */

background-image: radial-gradient(circle at top,#0b1118 0%,#05070a 60%);

}



/* NAVIGATION */

.topNav{

display:flex;
justify-content:space-between;
align-items:center;

padding:24px 60px;

background:#0b0f14;

border-bottom:1px solid #111;

}

.navLeft{

display:flex;
gap:70px;   /* spacing between Home + Recent */

}

.navRight{

display:flex;
gap:60px;   /* spacing between Login + Create */

}

.topNav a{

color:#00ff9c;

text-decoration:none;

font-weight:600;

font-size:17px;

transition:0.2s;

}

.topNav a:hover{

color:#ffffff;

}



/* HERO */

.hero{

text-align:center;

margin-top:180px;

}

.mainTitle{

font-size:72px;

color:#00ff9c;

letter-spacing:3px;

margin-bottom:50px;

}



/* SEARCH */

.searchBox{

display:flex;
justify-content:center;
gap:12px;

}

.searchBox input{

padding:16px;

width:320px;

background:#0f141b;

border:1px solid #1c232b;

color:white;

font-size:18px;

}

.searchBox button{

padding:16px 24px;

background:#00ff9c;

border:none;

font-weight:700;

cursor:pointer;

transition:0.2s;

}

.searchBox button:hover{

background:#00e589;

}



/* FOOTER */

footer{

text-align:center;

margin-top:220px;

opacity:0.5;

font-size:14px;

transition:0.3s;

cursor:pointer;

}

footer:hover{

opacity:1;

color:#00ff9c;

letter-spacing:1px;
