body{

background:#05070a;
color:white;
font-family:Arial, sans-serif;
margin:0;

}



/* NAVIGATION */

.topNav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:#0b0f14;

border-bottom:1px solid #111;

}

.navLeft{

display:flex;
gap:40px;

}

.navRight{

display:flex;
gap:40px;

}

.topNav a{

color:#00ff9c;

text-decoration:none;

font-weight:600;

font-size:16px;

}



/* HERO */

.hero{

text-align:center;

margin-top:160px;

}

.mainTitle{

font-size:72px;

color:#00ff9c;

letter-spacing:2px;

margin-bottom:50px;

}



/* SEARCH */

.searchBox{

display:flex;
justify-content:center;
gap:10px;

}

.searchBox input{

padding:16px;

width:320px;

background:#0f141b;

border:1px solid #1c232b;

color:white;

font-size:18px;

}

.searchBox button{

padding:16px 22px;

background:#00ff9c;

border:none;

font-weight:700;

cursor:pointer;

}

.searchBox button:hover{

background:#00e589;

}



/* RECENT RUNNERS */

.pageContainer{

max-width:1100px;

margin:100px auto;

padding:20px;

}

.pageTitle{

font-size:36px;

margin-bottom:40px;

text-align:center;

color:#00ff9c;

}

.runnerGrid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}

.runnerCard{

background:#0f141b;

padding:20px;

border-radius:8px;

border:1px solid #1c232b;

}



/* PLAYER PAGE */

.playerContainer{

max-width:1000px;

margin:100px auto;

text-align:center;

}

.statsGrid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:25px;

margin-top:40px;

}

.statCard{

background:#0f141b;

padding:30px;

border-radius:8px;

border:1px solid #1c232b;

}

.statCard h3{

color:#00ff9c;

margin-bottom:10px;

}



/* LOGIN */

.authBox{

max-width:350px;

margin:140px auto;

text-align:center;

}

.authBox input{

width:100%;

padding:14px;

margin-bottom:15px;

background:#0f141b;

border:1px solid #1c232b;

color:white;

}

.authBox button{

width:100%;

padding:14px;

background:#00ff9c;

border:none;

font-weight:bold;

cursor:pointer;

}



/* PROFILE */

.profileContainer{

max-width:420px;

margin:120px auto;

text-align:center;

}

.profileContainer input,
.profileContainer textarea{

width:100%;

padding:12px;

margin-bottom:15px;

background:#0f141b;

border:1px solid #1c232b;

color:white;

}



/* FOOTER */

footer{

text-align:center;

margin-top:200px;

opacity:0.5;

font-size:14px;

}
